.button{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    padding: 18px 0;
    border: 0;
    display: block;
    text-align: center;
    width: 272px;
    text-align: center;

    &.bt-default{
        background: #337ab7;
        text-shadow: 2px 3px 0 #265a88;
    }
}